@import "tailwindcss";

@keyframes shine {
    0% {
        background-position: -200% center;
    }

    100% {
        background-position: 200% center;
    }
}

.animate-shine {
    background-size: 200% auto;
    animation: shine 8s linear infinite;
    -webkit-animation: shine 8s linear infinite;
}

@keyframes float {

    0%,
    100% {
        transform: translateY(0px);
    }

    50% {
        transform: translateY(-10px);
        /* moves up 10px */
    }
}

.animate-float {
    animation: float 6s ease-in-out infinite;
}